<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student_enrollment_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <!-- Firebase Messaging Service -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- SPLASH ACTIVITY -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SIGN IN ACTIVITY -->
        <activity
            android:name=".auth.SignInActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- SIGN UP ACTIVITY -->
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- HOME ACTIVITY -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- ENROLL ACTIVITY -->
        <activity
            android:name=".ui.EnrollActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

    </application>

</manifest>
